@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 20;
  padding: 20;
  box-sizing: border-box;
  background-color: rgb(77, 79, 78);
}

.App {
  text-align: center;
  color: rgb(255, 255, 255);
}

.App h1, p {
  font-size: 3rem;
}


button {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-size: 35px;
}

.increase:hover {
  background-color: rgb(21, 130, 70);
}

.decrease:hover {
  background-color: rgb(179, 40, 40);
}
